/* Toastr styles */
.toast {
    background-color: #333; /* Cor de fundo das notificações */
    color: #fff; /* Cor do texto das notificações */
    border-radius: 4px; /* Borda arredondada */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra */
  
    /* Margens e espaçamento interno */
    margin: 10px;
    padding: 10px;
  
    /* Defina outros estilos conforme necessário */
  }
  
  .toast-success {
    background-color: #28a745; /* Cor de fundo para notificações de sucesso */
  }
  
  .toast-warning {
    background-color: #ffc107; /* Cor de fundo para notificações de aviso */
  }
  
  .toast-error {
    background-color: #dc3545; /* Cor de fundo para notificações de erro */
  }
  
  .toast-info {
    background-color: #17a2b8; /* Cor de fundo para notificações de informação */
  }